gitJDMFCDebug/*.sln binary
gitJDMFCDebug/*.aps binary
gitJDMFCDebug/*.rc binary
gitJDMFCDebug/*.suo binary
gitJDMFCDebug/*.sdf binary
gitJDMFCDebug/*.vcxproj binary
gitJDMFCDebug/*.filters binary
gitJDMFCDebug/*.user binary
